<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" text-center>
        <!-- <img src="assets/logomarcamumpspreta.png" height="50rem"> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="!userLogged?.nome">
    <div class="show-login">
      <ion-card-content>
        <h2>{{"ENTRAR" | translate}}</h2>
        <ion-item>
          <ion-label position="floating">{{"DIGITE_LOGIN" | translate}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content text-end>
        <ion-button (click)="proximo()">
          <ion-icon slot="start" name="arrow-forward"></ion-icon>
          {{"PROXIMO" | translate}}
        </ion-button>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card *ngIf="userLogged?.nome">
    <div class="show-login">
      <ion-card-content>
        <h3>{{"BEM_VINDO" | translate}}</h3>
        <h2>{{ userLogged?.nome}}</h2>
        <ion-item>
          <ion-label position="floating">{{"DIGITE_SENHA" | translate}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content text-end>
        <ion-button fill="clear" (click)="voltar()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          {{"VOLTAR" | translate}}
        </ion-button>
        <ion-button>
          <ion-icon slot="start" name="send"></ion-icon>
          {{"LOGIN" | translate}}
        </ion-button>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>