<ion-app>
  <ion-split-pane>
    <ion-menu *ngIf="links && links.length > 0">
      <ion-header >
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!-- Caso tenha algum link para exibir -->
          <span *ngFor="let link of links">
            <ion-item-group *ngIf="link.menu">
              <ion-item-divider>
                <ion-label>{{link.menu}}</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let l of link.links" (click)="navegation(l.rota);">
                <ion-icon *ngIf="l.icon" [name]="l.icon"></ion-icon>
                <ion-label>{{l.nome}}</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item *ngIf="!link.menu && link.rota" (click)="navegation(link.rota);">
              <ion-icon *ngIf="link.icon" [name]="link.icon"></ion-icon>
              <ion-label>{{link.nome}}</ion-label>
            </ion-item>
          </span>
<!-- 
          <span *ngFor="let link of links">
            <mat-accordion *ngIf="link.menu">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{link.menu}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                  <mat-list-item *ngFor="let l of link.links">
                    <mat-icon *ngIf="l.icon" matListIcon>l.icon</mat-icon>
                    <a matLine (click)="navegation(l.rota)">{{l.nome}}</a>
                  </mat-list-item>
                </mat-nav-list>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-nav-list>
              <mat-list-item *ngIf="!link.menu && link.rota">
                <mat-icon *ngIf="link.icon" matListIcon>{{link.icon}}</mat-icon>
                <a matLine (click)="navegation(link.rota)" href="#">{{link.nome}}</a>
              </mat-list-item>
            </mat-nav-list>
          </span>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>